
.answer {
  display: none;
}
<<<<<<< HEAD

.clickable5 {
  cursor: pointer;
  color: #0088cc;
}

.clickable5:hover {
  text-decoration: underline;
}

#initially-showing6 {
  display: none;
}

.clickable6 {
  cursor: pointer;
  color: #0088cc;
}

.clickable6:hover {
  text-decoration: underline;
}

#initially-showing7 {
  display: none;
}

.clickable7 {
  cursor: pointer;
  color: #0088cc;
}

.clickable7:hover {
  text-decoration: underline;
}

#initially-showing8 {
  display: none;
}

.clickable8 {
  cursor: pointer;
  color: #0088cc;
}

.clickable8:hover {
  text-decoration: underline;
}

#initially-showing9 {
  display: none;
}

.clickable9 {
  cursor: pointer;
  color: #0088cc;
}

.clickable9:hover {
  text-decoration: underline;
}

#initially-showing10 {
  display: none;
}

.clickable10 {
  cursor: pointer;
  color: #0088cc;
}

.clickable10:hover {
  text-decoration: underline;
}

#initially-showing11 {
  display: none;
}

.clickable11 {
  cursor: pointer;
  color: #0088cc;
}

.clickable11:hover {
  text-decoration: underline;
}

#initially-showing12 {
  display: none;
}

.clickable12 {
  cursor: pointer;
  color: #0088cc;
}

.clickable12:hover {
  text-decoration: underline;
}

#initially-showing13 {
  display: none;
}

.clickable13 {
  cursor: pointer;
  color: #0088cc;
}

.clickable13:hover {
  text-decoration: underline;
}

#initially-showing14 {
  display: none;
}

.clickable14 {
  cursor: pointer;
  color: #0088cc;
}

.clickable14:hover {
  text-decoration: underline;
}
=======
>>>>>>> flashcards2
