#initially-showing1 {
  display: none;
}

.clickable1 {
  cursor: pointer;
  color: #0088cc;
}

.clickable1:hover {
  text-decoration: underline;
}

#initially-showing2 {
  display: none;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2:hover {
  text-decoration: underline;
}

#initially-showing3 {
  display: none;
}

.clickable3 {
  cursor: pointer;
  color: #0088cc;
}

.clickable3:hover {
  text-decoration: underline;
}

#initially-showing4 {
  display: none;
}

.clickable4 {
  cursor: pointer;
  color: #0088cc;
}

.clickable4:hover {
  text-decoration: underline;
}

#initially-showing5 {
  display: none;
}

.clickable5 {
  cursor: pointer;
  color: #0088cc;
}

.clickable5:hover {
  text-decoration: underline;
}

#initially-showing6 {
  display: none;
}

.clickable6 {
  cursor: pointer;
  color: #0088cc;
}

.clickable6:hover {
  text-decoration: underline;
}

#initially-showing7 {
  display: none;
}

.clickable7 {
  cursor: pointer;
  color: #0088cc;
}

.clickable7:hover {
  text-decoration: underline;
}

#initially-showing8 {
  display: none;
}

.clickable8 {
  cursor: pointer;
  color: #0088cc;
}

.clickable8:hover {
  text-decoration: underline;
}

#initially-showing9 {
  display: none;
}

.clickable9 {
  cursor: pointer;
  color: #0088cc;
}

.clickable9:hover {
  text-decoration: underline;
}

#initially-showing10 {
  display: none;
}

.clickable10 {
  cursor: pointer;
  color: #0088cc;
}

.clickable10:hover {
  text-decoration: underline;
}

#initially-showing11 {
  display: none;
}

.clickable11 {
  cursor: pointer;
  color: #0088cc;
}

.clickable11:hover {
  text-decoration: underline;
}

#initially-showing12 {
  display: none;
}

.clickable12 {
  cursor: pointer;
  color: #0088cc;
}

.clickable12:hover {
  text-decoration: underline;
}

#initially-showing13 {
  display: none;
}

.clickable13 {
  cursor: pointer;
  color: #0088cc;
}

.clickable13:hover {
  text-decoration: underline;
}

#initially-showing14 {
  display: none;
}

.clickable14 {
  cursor: pointer;
  color: #0088cc;
}

.clickable14:hover {
  text-decoration: underline;
}
