#initially-showing1 {
  display: none;
}

.clickable1 {
  cursor: pointer;
  color: #0088cc;
}

.clickable1:hover {
  text-decoration: underline;
}

#initially-showing2 {
  display: none;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2:hover {
  text-decoration: underline;
}

#initially-showing3 {
  display: none;
}

.clickable3 {
  cursor: pointer;
  color: #0088cc;
}

.clickable3:hover {
  text-decoration: underline;
}

#initially-showing4 {
  display: none;
}

.clickable4 {
  cursor: pointer;
  color: #0088cc;
}

.clickable4:hover {
  text-decoration: underline;
}

#initially-showing5 {
  display: none;
}

.clickable5 {
  cursor: pointer;
  color: #0088cc;
}

.clickable5:hover {
  text-decoration: underline;
}

#initially-showing6 {
  display: none;
}

.clickable6 {
  cursor: pointer;
  color: #0088cc;
}

.clickable6:hover {
  text-decoration: underline;
}
